@import "fuentes";
@import "colores";
@import "general";
@import "footer";
@import "header";
@import "media";

/*main {
    background-color: #A2FFE0;
}*/

h1 {
    text-align: center;
    color: green;
}



p {
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    display: block;
}

.imagenPerrodrilo {
    width: 40vw;
    max-width: 100rem;
    min-width: 32rem;
    margin: auto;
}

img {
    width: 100%;
}

.imgGaleria {
    width: 40vw;
    max-width: 100rem;
    min-width: 32rem;
    margin: left;
}




